example/simple/.vs/simple/v15
/example/simple/bin/FreeImage.dll
/example/simple/bin/fmodex64.dll
/example/simple/bin/fmodexL64.dll
/example/simple/bin/realsense2.dll
/example/simple/bin/simple.exe
/example/simple/bin/simple.exp
/example/simple/bin/simple.lib
/example/simple/bin/simple_debug.exe
/example/simple/bin/simple_debug.exp
/example/simple/bin/simple_debug.ilk
/example/simple/bin/simple_debug.lib
/example/simple/bin/simple_debug.pdb
example/simple/obj
/example/simple/simple.sln
/example/simple/simple.vcxproj
/example/simple/simple.vcxproj.filters
/example/simple/simple.vcxproj.user
example/recorder/.vs/simple/v15/.suo
example/recorder/.vs/recorder/v15/ipch/AutoPCH/8ba5477ea82f863c/OFAPP.ipch
example/recorder/.vs/recorder/v15/ipch/AutoPCH/83cab2caca4fa617/OFAPP.ipch
example/recorder/.vs/recorder/v15/Solution.VC.db-wal
example/recorder/.vs/recorder/v15/Solution.VC.db-shm
example/recorder/.vs/recorder/v15/Solution.VC.db
example/recorder/.vs/recorder/v15/Browse.VC.opendb
example/recorder/.vs/recorder/v15/Browse.VC.db
example/recorder/.vs/recorder/v15/.suo
example/recorder/recorder.vcxproj.user
example/recorder/recorder.vcxproj.filters
example/recorder/recorder.vcxproj
example/recorder/icon.rc
example/recorder/recorder.sln
example/recorder/.vs/
example/recorder/bin/recorder_debug.exp
example/recorder/bin/recorder_debug.exe
example/recorder/bin/recorder_debug.pdb
example/recorder/bin/recorder_debug.lib
example/recorder/bin/recorder_debug.ilk
example/recorder/bin/FreeImage.dll
example/recorder/bin/fmodex64.dll
example/recorder/bin/fmodexL64.dll
example/recorder/obj/
example/recorder/bin/realsense2.dll
example/recorder/bin/Intel.Realsense.dll
example/simple/bin/Intel.Realsense.dll
