example/simple/.vs/simple/v15
/example/simple/bin/FreeImage.dll
/example/simple/bin/fmodex64.dll
/example/simple/bin/fmodexL64.dll
/example/simple/bin/realsense2.dll
/example/simple/bin/simple.exe
/example/simple/bin/simple.exp
/example/simple/bin/simple.lib
/example/simple/bin/simple_debug.exe
/example/simple/bin/simple_debug.exp
/example/simple/bin/simple_debug.ilk
/example/simple/bin/simple_debug.lib
/example/simple/bin/simple_debug.pdb
example/simple/obj
/example/simple/simple.sln
/example/simple/simple.vcxproj
/example/simple/simple.vcxproj.filters
/example/simple/simple.vcxproj.user
example/simple/bin/Intel.Realsense.dll
example/recorder/.vs/
example/recorder/bin/
example/recorder/recorder.sln
example/recorder/recorder.vcxproj.filters
example/recorder/icon.rc
example/recorder/recorder.vcxproj.user
example/recorder/recorder.vcxproj
example/recorder/obj/
