example/simple/.vs/simple/v15
/example/simple/bin/FreeImage.dll
/example/simple/bin/fmodex64.dll
/example/simple/bin/fmodexL64.dll
/example/simple/bin/realsense2.dll
/example/simple/bin/simple.exe
/example/simple/bin/simple.exp
/example/simple/bin/simple.lib
/example/simple/bin/simple_debug.exe
/example/simple/bin/simple_debug.exp
/example/simple/bin/simple_debug.ilk
/example/simple/bin/simple_debug.lib
/example/simple/bin/simple_debug.pdb
example/simple/obj
/example/simple/simple.sln
/example/simple/simple.vcxproj
/example/simple/simple.vcxproj.filters
/example/simple/simple.vcxproj.user
example/simple/bin/Intel.Realsense.dll
example/recorder/.vs/
example/recorder/bin/
example/recorder/recorder.sln
example/recorder/recorder.vcxproj.filters
example/recorder/icon.rc
example/recorder/recorder.vcxproj.user
example/recorder/recorder.vcxproj
example/recorder/obj/
*.sln
*.vcxproj
*.filters
*.user
*.rc
example/aligned_example/.vs/
*.pdb
*.lib
*.ilk
*.exp
*.exe
example/aligned_example/bin/fmodexL64.dll
example/aligned_example/bin/fmodex64.dll
example/aligned_example/bin/FreeImage.dll
example/aligned_example/obj/
example/playback_example/.vs/
example/playback_example/bin/fmodexL64.dll
example/playback_example/bin/fmodex64.dll
example/playback_example/bin/FreeImage.dll
example/playback_example/obj/
example/recorder_example/.vs/
example/recorder_example/bin/fmodexL64.dll
example/recorder_example/bin/fmodex64.dll
example/recorder_example/bin/FreeImage.dll
example/recorder_example/obj/
example/simple_example/.vs/
example/simple_example/bin/fmodexL64.dll
example/simple_example/bin/fmodex64.dll
example/simple_example/bin/FreeImage.dll
example/simple_example/obj/
example/recorder_example/bin/data/record.bag
*.tlog
*.ipch
*.obj
*.suo
*.log
example/example_simple/.vs/
example/example_worldcoordinate/.vs/
example/example_simple/bin/fmodexL64.dll
example/example_simple/bin/fmodex64.dll
example/example_simple/bin/FreeImage.dll
example/example_recorder/bin/fmodexL64.dll
example/example_recorder/bin/fmodex64.dll
example/example_recorder/bin/FreeImage.dll
example/example_recorder/.vs/recorder_example/v15/Solution.VC.db
example/example_recorder/.vs/recorder_example/v15/Browse.VC.db
example/example_recorder/.vs/recorder_example/v15/Solution.VC.db-wal
example/example_recorder/.vs/recorder_example/v15/Solution.VC.db-shm
example/example_recorder/obj/x64/Debug/icon.res
example/example_worldcoordinate/bin/fmodexL64.dll
example/example_worldcoordinate/bin/fmodex64.dll
example/example_worldcoordinate/bin/FreeImage.dll
example/example_worldcoordinate/obj/x64/Debug/icon.res
example/example_playback/obj/x64/Debug/icon.res
example/example_playback/bin/fmodexL64.dll
example/example_playback/bin/fmodex64.dll
example/example_playback/bin/FreeImage.dll
example/example_playback/.vs/playback_example/v15/Solution.VC.db
example/example_playback/.vs/playback_example/v15/Browse.VC.db
example/example_playback/.vs/playback_example/v15/Solution.VC.db-shm
example/example_playback/.vs/playback_example/v15/Solution.VC.db-wal
example/example_recorder/bin/data/record.bag
example/example_depth_colorschema/bin/FreeImage.dll
example/example_depth_colorschema/.vs/example_depth_colorschema/v15/Solution.VC.db-shm
example/example_depth_colorschema/.vs/example_depth_colorschema/v15/Solution.VC.db
example/example_depth_colorschema/.vs/example_depth_colorschema/v15/Browse.VC.db
example/example_depth_colorschema/bin/fmodexL64.dll
example/example_depth_colorschema/.vs/example_depth_colorschema/v15/Browse.VC.opendb
example/example_depth_colorschema/.vs/example_depth_colorschema/v15/Solution.VC.db-wal
example/example_depth_colorschema/bin/fmodex64.dll
example/example_depth_colorschema/obj/x64/Debug/icon.res
example/example_depth_colorschema/bin/data/.gitkeep
example/example_depth_colorschema/obj/Win32/Debug/icon.res
example/example_T265/.vs/
example/example_T265/bin/fmodexL64.dll
example/example_T265/bin/fmodex64.dll
example/example_T265/bin/FreeImage.dll